@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Notable&family=Poetsen+One&display=swap');

:root {
    --primary-color: #FCEAE8;
    --secondary-color: #be4218;
    --accent1-color: #2c57bd;
    --accent2-color: #dd9c2c;

    --heading-font: 'Notable', serif;
    --paragraph-font: 'Caveat', sans-serif;

    --nav-background-color: #F5CD87;
    --nav-link-color: #2b5ac9;
    --nav-hover-link-color: #EC7E59;
    --nav-hover-background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center; 
    border-bottom: 4px solid rgb(255, 255, 255);    
}

.logo img {
    display: block;
}

nav{
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 80px 3px 0 3px;
}

.panel a {
    color: rgb(255, 255, 255);
    font-family: "Poetsen One", serif;
    font-weight: bold;
    display: flex;
    padding: 2em 4em;
    background-color: gray;
    box-shadow: 0px 5px 2px var(--nav-link-color);
    border-radius: 200px;
}

.panel :hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
}

h1 {
    text-align: left;
}

p {
    text-align: left;
    padding: 2%;
    font-style: var(--paragraph-font);
    color: rgba(165, 42, 42, 0.212);
    text-shadow: 1px 1px 1px var(--accent1-color);
    letter-spacing: 2px;
    text-align: justify;
    flex: 1 1 100px;
}

h2 {
    text-align: center;
}

h3 {
    font-family: "Caveat", serif;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgba(165, 42, 42, 0.212);
    text-shadow: 1px 1px 1px var(--accent1-color);
    letter-spacing: 2px;
}

h4 {
    font-family: "Poetsen One", serif;
    font-weight: 300;
    font-style: normal;
    color: #ccd8f1;
}

h1, h2 {
    font-family: var(--heading-font);
    color: rgba(247, 237, 237, 0.459);
    letter-spacing: 5px;
    text-shadow: 0px 2px 3px whitesmoke;
    background-color: rgba(0, 0, 0, 0.897);
}

.hero{
    display: flex;
    padding: 20px;
}

.hero img {
    flex-wrap: wrap;
    display: flex;
    align-items: normal;
    align-content: space-around;
    width: 300px;
    height: auto;

    /*standard image design*/
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

.history img {
    width: 400px;
    height: auto;
    align-items: center;
    margin: 17px;
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

.history article {
    text-align: left;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid rgba(165, 42, 42, 0.438);    
}

figure img {
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

figcaption{
    text-align: center;
    padding: 10px 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

footer p {
    text-align-last: center;
    font-family: "Poetsen One", serif;
}

.sociallinks a {
    text-decoration: none !important;
    float: right;
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}