@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Notable&family=Poetsen+One&display=swap');

:root {
    --primary-color: #FCEAE8;
    --secondary-color: #be4218;
    --accent1-color: #2c57bd;
    --accent2-color: #dd9c2c;

    --heading-font: 'Notable', serif;
    --paragraph-font: 'Caveat', sans-serif;

    --nav-background-color: #F5CD87;
    --nav-link-color: #2b5ac9;
    --nav-hover-link-color: #EC7E59;
    --nav-hover-background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center; 
    border-bottom: 5px solid rgb(0, 0, 0);    
}

.logo img {
    display: block;
}

nav{
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 80px 3px 0 3px;
}

.panel a {
    color: rgb(255, 255, 255);
    font-family: "Poetsen One", serif;
    font-weight: bold;
    display: flex;
    padding: 2em 3em;
    background-color: rgb(88, 152, 196);
    box-shadow: 0px 5px 2px var(--nav-link-color);
    border-radius: 200px;
}

.panel :hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
}

h1 {
    text-align: center;
}

p {
    text-align: left;
    padding: 2%;
    font-style: var(--paragraph-font);
    color: rgba(0, 0, 0, 0.212);
    text-shadow: 1px 1px 1px var(--accent1-color);
    letter-spacing: 2px;
    text-align: justify;
    flex: 1 1 100px;
}

.hero p{
    left: 10px;
    bottom: 7px;
}

h2 {
    text-align: center;
}

h3 {
    font-family: "Caveat", serif;
    letter-spacing: 2px;
    color: var(--accent1-color);
}

h4 {
    font-family: "Poetsen One", serif;
    font-weight: 300;
    font-style: normal;
    color: #ccd8f1;
}

h1, h2 {
    font-family: var(--heading-font);
    color: rgb(250, 250, 250);
    letter-spacing: 5px;
    text-shadow: 0px 2px 3px whitesmoke;
    background-color: rgba(145, 65, 0, 0.897);
}

.hero{
    display: flex;
    padding: 20px;
}

.hero img {
    flex-wrap: wrap;
    display: flex;
    align-items: normal;
    align-content: space-around;
    width: 300px;
    height: auto;

    /*standard image design*/
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

.history img {
    width: 400px;
    height: auto;
    align-items: center;
    margin: 17px;
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

.history article {
    text-align: left;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.history p{
    left: 50px;
    bottom: 0px;
    width: 300px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
}

figure img {
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

figcaption{
    text-align: center;
    padding: 10px 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

footer p {
    display: contents;
    text-align-last: center;
    font-family: "Poetsen One", serif;
}

.footer p {
    text-align: justify;
    padding: 2%;
    font-style: var(--paragraph-font);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px var(--accent1-color);
    letter-spacing: 2px;
    text-align: justify;
    flex: 1 1 100px;
}

.sociallinks a {
    text-decoration: none !important;
    float: right;
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
}

main{
    border-bottom: 5px solid black;
    padding-bottom: 20px;
}


/*CONTACT US*/

.info{
    display: grid;
    grid-template-columns: 220px 500px;
    align-items: center;
    margin: 2rem 5px;
    height: max-content;
    max-height: 450px;
}

.info h3 {
    text-shadow: 0px 0px 1px black;
    padding: 20px;
    text-align: justify;
}

.info h3, p {
    align-content: center;
    float: right;
    display: flex;
    width: 200px;
    height: auto;
    padding: .5rem;  
    left: 380px;
    bottom: -130px;
    position: relative;
}

.info img{
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
    float: right;
    display: flex;
    width: 350px;
    height: 450px;
    padding: .5rem;  
    left: 20px;
    bottom: 230px;
    position: relative;
}

.info iframe{
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
    float: right;
    display: flex;
    width: 350px;
    height: 450px;
    padding: .5rem;  
    right: -645px;
    bottom: 230px;
    position: relative;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}


/*HELP*/
form{
    margin: 20px;
    display: grid;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: .1fr 3fr;
    margin: 0.5rem 0;
}

.column3{
    grid-template-columns: .1fr 0fr 5fr;
    margin: 0.5rem 0;
}

button, input, select, textarea {
  font-size: 80%;
  align-content: center;
}

h5{
    font-family: var(--heading-font);
    font: 100%;
    text-align: center;
    text-shadow: 0 0 5px rgb(140, 212, 240);
    color: whitesmoke;
}

fieldset{
    padding: 25px;
    display: grid;
    grid-gap: .1rem;
    border: 4px dashed var(--accent2-color); 
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
}

legend{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 0 0 2px rgb(140, 212, 240);
}

label{
    text-align: left;
    padding: .5rem;
    color: var(--accent1-color);
    text-shadow: 0px 0px 2px skyblue;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

input[type="radio"]{
    width: 18px;
    height: 18px;
}

button{
    margin: 20px 38px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px whitesmoke;
    color: darkblue;
    letter-spacing: 2px;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

button:hover{
    background-color: whitesmoke;
}