* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 100% 1fr;
}

main {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    max-width: 840px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(0, 25, 250);
}

aside {
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 20%;
    text-justify: auto;
    color: whitesmoke;
}

aside img {
    width: 250px;
    height: 400px;
    padding: .5rem;
    margin-top: 0%;
}

main img {
    float: right;
    width: 350px;
    height: auto;
    padding: .5rem;
    display: flex;
    position: inherit;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 60px rgb(121, 120, 177);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #3324b8;
    text-align: center;

}

/* Class Selectors */

.box {
    margin: 2rem;
    border: 2px solid rgba(26, 23, 177, 0.5);
    padding: 1rem;
    background-color: rgb(167, 176, 189);
    color: rgb(247, 241, 246);
}

header, .grid, footer {
    margin: 0 auto;
    max-width: 840px;
}