* {
    margin: 0 auto;
    padding: 2;
    color: lightslategray;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    box-shadow: 2px 2px 3px lightskyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    max-width: 840px;
    padding: 10px;
    box-shadow: 2px 2px 4px lightskyblue;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration-color: lightskyblue;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 2px 2px 3px lightskyblue;
}

h1 {
    color: steelblue;
    text-shadow: 2px 0 4px lightskyblue;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: lightskyblue;
}

aside {
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 20%;
    text-justify: auto;
    color: rgb(235, 180, 235);
}

aside img {
    width: 250px;
    height: 400px;
    padding: .5rem;
    margin-top: 0%;
}

main img {
    float: right;
    width: 350px;
    height: auto;
    padding: .5rem;
    display: flex;
    position: inherit;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 1px steelblue;
    box-shadow: 0 3px 60px steelblue;
}

footer {
    margin-top: 15px;
    border-top: 1px solid lightslategray;
    text-align: center;

}

/* Class Selectors */

.box {
    margin: .5rem;
    border: 2px solid steelblue;
    box-shadow: 2px 2px 2px lightskyblue;
    padding: 1.5rem;
    background-color: lightskyblue;
}

header, .grid, footer {
    margin: 0 auto;
    max-width: 840px;
    grid-template-columns: 100% 1fr;
    
}


/*
.grid {
    display: grid;
    align-items: flex-start;
}
*/