* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
}

main {
    grid-column: 2/3;
    margin: 4rem;
}

nav a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: double;
    font-size: 1rem;
    font-weight: 600;
}

h1 {
    color: steelblue;
    border-bottom-width: 1px;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-color: rgb(0, 25, 250);
}

aside {
    width: 20em;
    text-align: center;
    color: rgb(182, 53, 187);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 20%;
    text-justify: distribute-all-lines;
    color: whitesmoke;
}

aside img {
    width: 250px;
    height: 500px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #cc1111;
    text-align: center;

}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(69, 55, 129, 0.5);
    padding: 1rem;
    background-color: rgb(77, 144, 231);
    color: rgb(247, 241, 246);
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}